::-webkit-scrollbar {
    display: none;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Trebuchet MS', sans-serif;
    height: 100vh;
    margin: 0;
}

.navi {
    background-color: #797D81;
    height: 100%;
    width: 100%;

}

.container {
    display: grid;
    grid-template-columns: 250px 4fr;
    height: 100%;
}

.editor {
    color: #EEEEEE;
    background-color: #001011;
    outline: none;
    padding: 25px;
    border-radius: 0px;
    max-width: 210mm;
    resize: none;
    border: none;
}